<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transazioni</title>
    <link rel="stylesheet" href="/style/output.css">
</head>
<body class="bg-gray-600">
    <%- include('navbar', {title: 'transazioni', currentPage: 'transazioni'}) %>
    <h1 class="text-5xl font-bold flex justify-center mt-4 mb-4">TRANSAZIONI</h1>
    <div id="main-container" class="flex flex-wrap container mx-auto justify-center"></div>
    <%- include('footer') %>
    <script src="/scripts/transazioni.js"></script>
</body>
</html>